.App {
  text-align: center;
  height: 100vh;
}

header {
  display: flex; 
  justify-content: space-around;
}

@media screen and (max-width:768px) {
  header {
    background-color:blue;
  }
}

@media screen and (max-width:375px) {
  header {
    background-color:green;
  }
}